.aboutLinks, .projectLinks, .contactLinks { 
    display:flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 200px;
}

.projectLinks, .contactLinks{
    width: 100px;
}

.aboutLinks{
    margin: 0 auto;
}

.aboutLinks > a, .projectLinks > a, .contactLinks > a{  
    box-shadow: 0 0px;
}

.contactLinks{
    height: 250px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}